<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.jraf.android.digibod"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.App">
        <activity
            android:name=".handheld.app.addressinfo.list.AddressInfoListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".handheld.app.addressinfo.edit.AddressInfoEditActivity" android:theme="@style/Theme.App.Edit"/>
    </application>

</manifest>
