<?xml version="1.0" encoding="utf-8"?>
<!--
  This source is part of the
       _____  ___   ____
   __ / / _ \/ _ | / __/___  _______ _
  / // / , _/ __ |/ _/_/ _ \/ __/ _ `/
  \___/_/|_/_/ |_/_/ (_)___/_/  \_, /
                               /___/
  repository.

  Copyright (C) 2015 Benoit 'BoD' Lubek (BoD@JRAF.org)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<manifest
    package="org.jraf.android.dcn"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:ignore="MissingApplicationIcon">

        <!-- Meta data for Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Notification (Wear) service -->
        <service
            android:name=".wearable.app.notif.NotificationWearableListenerService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <!-- Notification (actions) service -->
        <service android:name=".wearable.app.notif.NotificationIntentService" />

    </application>

</manifest>
