<?xml version="1.0" encoding="utf-8"?>
<!--
  This source is part of the
       _____  ___   ____
   __ / / _ \/ _ | / __/___  _______ _
  / // / , _/ __ |/ _/_/ _ \/ __/ _ `/
  \___/_/|_/_/ |_/_/ (_)___/_/  \_, /
                               /___/
  repository.

  Copyright (C) 2015 Benoit 'BoD' Lubek (BoD@JRAF.org)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<manifest
    package="org.jraf.android.dcn"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Needed for Crashlytics -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".handheld.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.App">

        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Crashlytics -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="439fd08746c1c52a7eb5e9fe0d2e0b631861d890" />

        <!-- AddressInfo list -->
        <activity
            android:name=".handheld.app.addressinfo.list.AddressInfoListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AddressInfo edit -->
        <activity
            android:name=".handheld.app.addressinfo.edit.AddressInfoEditActivity"
            android:theme="@style/Theme.App.Edit" />

        <!-- Geofencing service -->
        <service android:name=".handheld.app.geofencing.GeofencingService" />

        <!-- Notification (Wear) service -->
        <service
            android:name=".handheld.app.wear.NotificationWearableListenerService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <!-- Boot receiver -->
        <receiver android:name=".handheld.app.boot.BootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
